
<!-- Header -->
	{{!-- <header id="head-internal">
		<div class="container">
			<div class="row">
				<h1 class="lead">Commercial</h1>
				<p class="tagline">Minneapolis Commercial Architecture Firm</p>
				<!--<p><a class="btn btn-default btn-lg" role="button">CONTACT US</a> <a class="btn btn-action btn-lg" role="button">OUR WORK</a></p>-->
			</div>
		</div>

					<aside class="col-md-4 sidebar sidebar-right">

				<h4>Latest News</h4>
				<div class="row widget">
					<div class="col-xs-12">
						<h4></h4>
						<p>Below are some of the images from the Hudson House project. Feel free to <a href="/contact">contact us</a> if you'd like to talk about your own project, or would like more information about this particluar project.</p>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						<h4>Exterior Front Elevation</h4>
						<p><img src="/images/project-1.jpg" alt=""></p>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						<h4>Country Style Kitchen</h4>
						<p><img src="/images/project-2.jpg" alt=""></p>
					</div>
				</div>
                <div class="row widget">
					<div class="col-xs-12">
						<h4>Master Bathroom</h4>
						<p><img src="/images/project-3.jpg" alt=""></p>
					</div>
				</div>

			</aside>

	</header> --}}
	
<!-- /Header -->


		{{!-- 
		<div class="footer2">
			<div class="container">
				<div class="row">					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="#">Home</a> | 
								<a href="sidebar-right.html">Services</a> |
								<a href="/aaaa">AAAAA</a> |
                                <a href="/bbbb">BBBB</a> |
								<b><a href="/contact">Contact</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2017, <a href="http://XYZ.gr" rel="designer"> ABCDEF </a> 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div> --}}

