

<div style="margin-top: 120px;" class="container">		
		<div class="row">
			
			<!-- Article main content -->
			<article class="col-md-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">Public Deliverables</h1>
					<p>Access the deliverable's document by clicking on the title. ( WP: Work Package ; D: Deliverable )</p>
				</header>

			<p><p style="box-sizing: border-box; margin-right: 0px; margin-bottom: 15px; margin-left: 0px; padding: 0px; word-wrap: break-word; color: #263238; font-family: 'Open Sans', sans-serif; font-size: 16px;"></p>
			<table style="box-sizing: border-box; margin: 0px 0px 1.6em; padding: 0px; border-spacing: 0px; border-width: 1px 0px 0px 1px; border-bottom-style: solid; border-bottom-color: rgba(51, 51, 51, 0.1); table-layout: fixed; width: 775px; color: #263238; font-family: 'Open Sans', sans-serif; font-size: 16px;">
			<tbody style="box-sizing: border-box; margin: 0px; padding: 0px;">
			<tr style="box-sizing: border-box; margin: 0px; padding: 0px;">
			<td style="box-sizing: border-box; margin: 0px; padding: 0.4em; border-width: 0px 1px 1px 0px; border-bottom-style: solid; border-bottom-color: rgba(51, 51, 51, 0.1); font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 15px; line-height: 22px; font-family: 'Open Sans', sans-serif;">
			<h2 style="box-sizing: border-box; margin: 10px 0px 15px; padding: 0px; line-height: 1.3; font-size: 24px; font-family: 'Open Sans' !important;">
				WP1: Requirements, specification and technical architecture</h2>
			</td>
			</tr>
			<tr style="box-sizing: border-box; margin: 0px; padding: 0px;">
			<td style="box-sizing: border-box; margin: 0px; padding: 0.4em; border-width: 0px 1px 1px 0px; border-bottom-style: solid; border-bottom-color: rgba(51, 51, 51, 0.1); font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 15px; line-height: 22px; font-family: 'Open Sans', sans-serif;"><a style="box-sizing: border-box; margin: 0px; padding: 0px; background-color: transparent; text-decoration-line: none; transition: all 0.3s ease 0s; color: #0b8aa6 !important;" href="https://nebula.uab.cat/share/s/BVtuDL2FT_epyj45IEnVxA" target="_blank" rel="noopener">D1.1: User scenario and requirements definition&nbsp; </a> <i id='D11_Show' class="fa fa-external-link" style="font-size:20px" type="button" ></i></td>
			</tr>
			<tr style="box-sizing: border-box; margin: 0px; padding: 0px;">
			<td style="box-sizing: border-box; margin: 0px; padding: 0.4em; border-width: 0px 1px 1px 0px; border-bottom-style: solid; border-bottom-color: rgba(51, 51, 51, 0.1); font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 15px; line-height: 22px; font-family: 'Open Sans', sans-serif;"><a style="box-sizing: border-box; margin: 0px; padding: 0px; background-color: transparent; text-decoration-line: none; transition: all 0.3s ease 0s; color: #0b8aa6 !important;" href="https://nebula.uab.cat/share/s/ImrPLjOaToC-WvKNs14X3Q" target="_blank" rel="noopener">D1.2: System Requirements Specification&nbsp;</a> <i id='D12_Show' class="fa fa-external-link" style="font-size:20px" type="button" ></i> </td>
			</tr>
			</tr>
			<tr style="box-sizing: border-box; margin: 0px; padding: 0px;">
			<td style="box-sizing: border-box; margin: 0px; padding: 0.4em; border-width: 0px 1px 1px 0px; border-bottom-style: solid; border-bottom-color: rgba(51, 51, 51, 0.1); font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 15px; line-height: 22px; font-family: 'Open Sans', sans-serif;"><a style="box-sizing: border-box; margin: 0px; padding: 0px; background-color: transparent; text-decoration-line: none; transition: all 0.3s ease 0s; color: #0b8aa6 !important;" href="https://nebula.uab.cat/share/s/HswB98X_QVadlYgvmEmXNg" target="_blank" rel="noopener">D1.3: First release of the EasyTV system architecture&nbsp;</a> <i id='D13_Show' class="fa fa-external-link" style="font-size:20px" type="button" ></i> </td>
			</tr>			
			<tr style="box-sizing: border-box; margin: 0px; padding: 0px;">
			<td style="box-sizing: border-box; margin: 0px; padding: 0.4em; border-width: 0px 1px 1px 0px; border-bottom-style: solid; border-bottom-color: rgba(51, 51, 51, 0.1); font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 15px; line-height: 22px; font-family: 'Open Sans', sans-serif;">
			<h2 style="box-sizing: border-box; margin: 10px 0px 15px; padding: 0px; line-height: 1.3; font-size: 24px; font-family: 'Open Sans' !important;">
				WP2: Improved access services for improve multimedia viewing, hearing and description</h2>
			</td>
			</tr>
			<tr style="box-sizing: border-box; margin: 0px; padding: 0px;">
			<td style="box-sizing: border-box; margin: 0px; padding: 0.4em; border-width: 0px 1px 1px 0px; border-bottom-style: solid; border-bottom-color: rgba(51, 51, 51, 0.1); font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 15px; line-height: 22px; font-family: 'Open Sans', sans-serif;">D2.1: EasyTV tools for improvement of graphical interfaces</td>
			</tr>
			<tr style="box-sizing: border-box; margin: 0px; padding: 0px;">
			<td style="box-sizing: border-box; margin: 0px; padding: 0.4em; border-width: 0px 1px 1px 0px; border-bottom-style: solid; border-bottom-color: rgba(51, 51, 51, 0.1); font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 15px; line-height: 22px; font-family: 'Open Sans', sans-serif;">D2.2: EasyTV descriptive narratives and object based sound engine implementation</td>
			</tr>
			<tr style="box-sizing: border-box; margin: 0px; padding: 0px;">
			<td style="box-sizing: border-box; margin: 0px; padding: 0.4em; border-width: 0px 1px 1px 0px; border-bottom-style: solid; border-bottom-color: rgba(51, 51, 51, 0.1); font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 15px; line-height: 22px; font-family: 'Open Sans', sans-serif;">D2.3: EasyTV screen reader tools</td>
			</tr>
			<tr style="box-sizing: border-box; margin: 0px; padding: 0px;">
			<td style="box-sizing: border-box; margin: 0px; padding: 0.4em; border-width: 0px 1px 1px 0px; border-bottom-style: solid; border-bottom-color: rgba(51, 51, 51, 0.1); font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 15px; line-height: 22px; font-family: 'Open Sans', sans-serif;">D2.4.1: Sign language animation preliminary development and production&nbsp;</a>
			<br style="box-sizing: border-box; margin: 0px; padding: 0px;" />D2.4.2: Sign language animation final implementation &nbsp;</td>
			</tr>
			<tr style="box-sizing: border-box; margin: 0px; padding: 0px;">
			<td style="box-sizing: border-box; margin: 0px; padding: 0.4em; border-width: 0px 1px 1px 0px; border-bottom-style: solid; border-bottom-color: rgba(51, 51, 51, 0.1); font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 15px; line-height: 22px; font-family: 'Open Sans', sans-serif;">
			<h2 style="box-sizing: border-box; margin: 10px 0px 15px; padding: 0px; line-height: 1.3; font-size: 24px; font-family: 'Open Sans' !important;">
				WP3: Novel technologies for the interaction with content and users for breaking the language barrier for people with disabilities</h2>
			</td>
			</tr>
			<tr style="box-sizing: border-box; margin: 0px; padding: 0px;">
			<td style="box-sizing: border-box; margin: 0px; padding: 0.4em; border-width: 0px 1px 1px 0px; border-bottom-style: solid; border-bottom-color: rgba(51, 51, 51, 0.1); font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 15px; line-height: 22px; font-family: 'Open Sans', sans-serif;">D3.1: Sign language capturing technology</td>
			</tr>
			<tr style="box-sizing: border-box; margin: 0px; padding: 0px;">
			<td style="box-sizing: border-box; margin: 0px; padding: 0.4em; border-width: 0px 1px 1px 0px; border-bottom-style: solid; border-bottom-color: rgba(51, 51, 51, 0.1); font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 15px; line-height: 22px; font-family: 'Open Sans', sans-serif;">D3.2: Enriched multilingual ontology with signs in different languages</td>
			</tr>
			<tr style="box-sizing: border-box; margin: 0px; padding: 0px;">
			<td style="box-sizing: border-box; margin: 0px; padding: 0.4em; border-width: 0px 1px 1px 0px; border-bottom-style: solid; border-bottom-color: rgba(51, 51, 51, 0.1); font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 15px; line-height: 22px; font-family: 'Open Sans', sans-serif;">D3.3: Remote control with speech recognition</td>
			</tr>
			<tr style="box-sizing: border-box; margin: 0px; padding: 0px;">
			<td style="box-sizing: border-box; margin: 0px; padding: 0.4em; border-width: 0px 1px 1px 0px; border-bottom-style: solid; border-bottom-color: rgba(51, 51, 51, 0.1); font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 15px; line-height: 22px; font-family: 'Open Sans', sans-serif;">...</td>
			</tr>
			<tr style="box-sizing: border-box; margin: 0px; padding: 0px;">
			<td style="box-sizing: border-box; margin: 0px; padding: 0.4em; border-width: 0px 1px 1px 0px; border-bottom-style: solid; border-bottom-color: rgba(51, 51, 51, 0.1); font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 15px; line-height: 22px; font-family: 'Open Sans', sans-serif;">...</td>
			</tr>
			</tbody>
			</table></p>

			</article>
			<!-- /Article -->

			<div id="dialog" style="display: none">
			</div>


			<!-- Sidebar -->
			<aside class="col-md-3 sidebar sidebar-right" style='right: -5%;'>
				<h2>Latest News</h2>
				<br>
				<ul class="list-unstyled">
					{{# each data.posts.results}}
					<li class="post" style='border-top: 1px dotted rgb(134, 188, 211)'>
						<h4><a href="{{postUrl slug}}">{{{title}}}</a></h4>
						<p class="lead text-muted" style='font-size: 15px;'>on {{{date}}}
						</p>
					</li>
					{{/each}}
				</ul>

			</aside>

			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->














