{{!< default}}
<!-- Intro -->

	<!-- /Intro-->
		
	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">
			<h2 class="text-center">About Project</h2>		
				<br>
				<ul style="box-sizing: border-box; margin: 0px 0px 20px; padding: 0px; list-style-position: inside; color: #263238; font-family: 'Open Sans', sans-serif; font-size: 16px;">
					EasyTV, a European Horizon 2020 research project, targets to foster wider availability of accessible media offerings to everybody and to provide equal access to audio-visual services for all users, 
					especially for persons with various degrees of disabilities (focused to visual and hearing impaired). <br>
					The project aims at developing <b>media improved access services</b> and making distribution of novel accessibility features with enhanced multimedia visual
					 and sound experience more cost-efficient and yet more flexible to use, and also easier to use. 
					 <br><br>
					 EasyTV aims to innovate and kick-start the breakthrough of <b>breaking the language barrier</b> for all by developing technologies which can enhance the interaction and perform sign language translations towards an inclusive media interaction. The heart of EasyTV is an improved personalisation of the content experiencing and interaction, towards a hyper-personalised experience to all. 
					 To ensure proper impact, the project approach is designed to create an Information Society for all, towards a barrier free Europe for people with disabilities.</p>


				The overall implementation strategy of EasyTV covers three multidisciplinary and interdependent areas: <br><br>
				<li >the design and specifications of system architecture and operation conditions  </li>
				<li >the development of new scientific knowledge and technical solutions  </li>
				<li >the respective validation at reduced or real scale </li> 
				<br>
				</ul>

					{{!-- <div class="col-md-3 col-sm-6 highlight center">
						<div class="h-caption"><h4>Laptops</h4></div>
						<i class="fa fa-laptop fa-5x" aria-hidden="true"></i>
						<div class="h-body text-center">
							<p>Lorem ipsum dolor sit amet </p>
						</div>
					</div> --}}
		
		</div>
	</div>
	<!-- /Highlights -->



	<!-- container -->
	<div class="container" id='contrib' style="box-sizing: border-box; list-style-position: inside; color: #263238; font-family: 'Open Sans', sans-serif; font-size: 17px;">

		<h2 class="text-center top-space">Contributions</h2>
		<br>

		<div class='row'>

			<div class='col-md-14 widget'>
				{{!-- <h3 class="text-center"> <i class="fa fa-level-up fa-1x" aria-hidden="true"></i> Objectives </h3> --}}
				<p>EasyTV project has the challenge of improving the access to mainstream multimedia products and services for people with different types and levels of disabilities, such as visually or hearing impairment. The objective is <b>avoiding marginalising people from the "Information Society" </b>, where access to information should be freely available to all. In this context, the EasyTV system aims to offer novel media delivery mechanisms.</p>
			</div>
		</div>

		<div class="row col-md-18">
			<div class="col-md-6">
				<h3>Multimedia Access</h3>
				<div class="row">
					<div class="col-md-1 widget">
						<i class="fa fa-universal-access fa-2x" aria-hidden="true"></i>
					</div>
					<div class="col-md-8 widget" style="min-width:500px;">
					<p>Improved access services for enchanced multimedia visual and sound experience for people with disabilities.</p>
					<ul>
						<li>Improvement of graphical interfaces that fulfil users' needs.</li>
						<li>New access services. </li>
						<li>Sign language animation.</li>
					</ul>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<h3>Sign Language Access</h3>
				<div class="row">
					<div class="col-md-1 widget">
						<i class="fa fa-american-sign-language-interpreting fa-2x" aria-hidden="true"></i>
					</div>
					<div class="col-md-8 widget" style="min-width:500px;">
					<p>Novel technologies to break the sign language barriers</p> 
					<ul>
						<li>Creation of a multilingual crowdsourcing sign language platform and catalogue.</li>
						<li>Creation of sign ontologies for multilingual Access.</li>
						<li>Sign language video capturing technology and realistic avatar presentation.</li>
					</ul>
					</div>
				</div>
			</div>
		</div> <!-- /row -->

		<div class="row">
			<div class="col-md-6">
				<h3>End-users oriented</h3>
				<div class="row">
					<div class="col-md-1 widget">
						<i class="fa fa-users fa-2x" aria-hidden="true"></i>
					</div>
					<div class="col-md-8 widget" style="min-width:500px;">
					<p>Different testing with users will establish a close cooperation by exchanging experiences among the different partners and user groups, in order to enhance the whole evaluation and validation process of the EasyTV technology.</p>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<h3>Personalization</h3>
				<div class="row">
					<div class="col-md-1 widget">
						<img src="/images/personalization.jpg" style="min-height:36px;min-width:36px;max-height:36px;max-width:36px;" alt="" id="personalization-font">
					</div>
					<div class="col-md-8 widget" style="min-width:500px;">
					<p>Improved personalisation of the content experiencing and interaction for a better Quality of Experience through:</p>
					<ul>
						<li>Creation of adaptive menus and graphical interfaces.</li>
						<li>Recommendation tools for content adaption based on user models.</li>
						<li>Adaption of content access tools with the use of DASH streaming services.</li>
					</ul>
					</div>
				</div>
			</div>
		</div> <!-- /row -->


		{{!-- <div class="jumbotron top-space">
			<h4>Dicta, nostrum nemo soluta sapiente sit dolor quae voluptas quidem doloribus recusandae facere magni ullam suscipit sunt atque rerum eaque iusto facilis esse nam veniam incidunt officia perspiciatis at voluptatibus. Libero, aliquid illum possimus numquam fuga.</h4>
 			<i><img src="/images/partners.png" style="width:auto;" alt="" id="partners"></i>
     		<p class="text-right"><a class="btn btn-primary btn-large">Contact Us »</a></p>
  		</div> --}}

</div>	<!-- /container -->


	<div class="jumbotron top-space" style='background-color: rgb(214, 230, 227); padding-top:1px;'>
		<h2 class="text-center top-space" >Latest News</h2>
		<br><br>
		<div class="container">
				<div class="row">

					{{# each data.posts.results}}

					<div class="col-md-4 widget" >
						<img style='width:100%' src={{{image.url}}}>
						<h4><a href="{{postUrl slug}}">{{{title}}}</a></h4>
						<p class="lead text-muted" style='font-size: 15px;'>on {{{date}}}
						</p>
					</div>
					{{/each}}

				</div>
		</div>
	</div>




