
<div style="margin-top: 120px;" class="container">		
		<div class="row">
			
			<!-- Article main content -->
			<article class="col-md-8 maincontent">
				<header class="page-header">
					<h1 class="page-title" style='bold'>Publications</h1>
					<p>Click on publication's title to access the content in pdf.</p>
				</header>

				<table id="publications">
					<tbody>
						<tr>
						<td>
							<h4 style='text-decoration: underline;'>FEB 2018 &#8211; JAN 2019</h4>
						</td>
						</tr>
						<br>
						<tr>
							<td ><strong>[1] </strong>Matamala, Anna; Orero, Pilar; Rovira-Esteva, Sara; Casas-Tost, Helena; Morales, Luis Fernando; Soler-Vilageliu, Olga; Agulló, Belén; Fidyka, Anita; Segura, Daniel; Tor-Carroggio, Irene &#8220;<a href="https://ddd.uab.cat/pub/caplli/2018/189707/1_W14.pdf" target="_blank" rel="noopener">
							User-centric approaches in access services evaluation: profiling the end user <i class="fa fa-external-link"></i></a>,&#8221; <em>Language Resources and Evaluation Conference (LREC),</em> Miyazaki (Japan), 7-12 May 2018.</td>
						</tr>

						<tr>
							<td ><strong>[2] </strong>D. Konstantinidis, K. Dimitropoulos, P. Daras, &#8220;<a href="https://www.iti.gr/iti/files/document/publications/paper_v3.pdf" target="_blank" rel="noopener">
							Sign Language Recognition Based on Hand and Body Skeletal Data <i class="fa fa-external-link"></i></a>,&#8221; <em>3DTV Conference, IEEE,</em> Stockholm, Helsinki, 3-5 June 2018.</td>
						</tr>
						<tr>
							<td><strong>[3] </strong>D. Konstantinidis, K. Dimitropoulos, P. Daras, &#8220;<a href="https://www.iti.gr/iti/files/document/publications/EUSIPCO_2018_01.pdf" target="_blank" rel="noopener">
							Skeleton-based Action Recognition Based on Deep Learning and Grassmannian Pyramids <i class="fa fa-external-link"></i></a>,&#8221; <em>EUSIPCO 2018,</em> Rome, Italy, 3-7 Sept. 2018.</td>
						</tr>
					</tbody>

					<tbody>
						<tr>
						<td >
							<h4 style='text-decoration: underline;'>FEB 2019 &#8211; JAN 2020</h4>
						</td>
						</tr>
						<tr><td>...</td></tr>
					</tbody>
				</table>
				<br>
			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<aside class="col-sm-3 sidebar sidebar-right">
				<h2>Latest News</h2>
				<br>
				<ul class="list-unstyled">
					{{# each data.posts.results}}
					<li class="post" style='border-top: 1px dotted rgb(134, 188, 211)'>
						<h4><a href="{{postUrl slug}}">{{{title}}}</a></h4>
						<p class="lead text-muted" style='font-size: 15px;'>on {{{date}}}
						</p>
					</li>
					{{/each}}
				</ul>


			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->














